<div class="container gird">
  <mat-grid-list cols="3" class="grid">
    <mat-grid-tile class=" color1 pddRL">
      <mat-grid-tile-header class="col bg">
        <img style="    width: 62px;" src="assets/img/logo-aoc.png">
      </mat-grid-tile-header>


      <label class="font">
        <img class="accImg" src="assets/img/logo-f-secure.png"><br><br>
        <span>
          Astonishing<br> features requires <br> worry-free security<br><br><br>
        </span>
        <span style="color: white;border-top: solid 1px;">
          1 Year Free Mobile Security
        </span>
      </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <img class="img1" src="assets/img/image-1.png">
    </mat-grid-tile>
    <mat-grid-tile class=" color2 pddRL">

      <label class="font" style="margin-bottom: 30%;">
        <img class="accImg" style="padding-left: 30%;margin-bottom: 42px;" src="assets/img/logo-digitainment.png">
        <br>
        <span style="padding-left:21%;margin-bottom: 42px;">
          Be hooked!<br><br><br>
        </span>
        <span style="color: white ;border-top: solid 1px;padding-left:20%;">
          2000+MoviesfromBollywood
        </span>
      </label>&nbsp;

      <img class="img2" src="assets/img/image-2.png">

    </mat-grid-tile>
    <mat-grid-tile class=" color3 pddRL">
      <label class="font" style="margin-bottom: 30%;">
        <img class="accImg" src="assets/img/logo-adaptxt.png"><br><br>
        <span>
          The best things in <br>&nbsp;
          life are free<br><br><br>

        </span>
        <span style="color: white;border-top: solid 1px;">
          Free Mobile Pouch
        </span>
      </label>&nbsp;

      <img class="img3" src="assets/img/image-3.png">

    </mat-grid-tile>
    <mat-grid-tile class=" color4 pddRL">
      <label class="font" style="margin-bottom: 30%;padding-left:3%;">
        <img class="accImg" src="assets/img/logo-hungama.png"><br><br>
        <span style="text-align: center;padding-left: 7px;">
          The thump <br>&nbsp;
          never ends here<br><br><br>
        </span>
        <span style="color: white;border-top: solid 1px;">
          1000’s of songs
        </span>
      </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="img4" src="assets/img/image-4.png">
    </mat-grid-tile>
    <mat-grid-tile class=" color5 pddRL">
      <label class="font" style="margin-bottom: 30%;padding-left:3%;">
        <img class="accImg" src="assets/img/logo-adaptxt.png"><br><br>
        <span style="text-align: center;padding-left: 7px;">
          Being globally you <br>&nbsp;
          <br><br>
        </span>
        <span style="color: white;border-top: solid 1px;">
          21 Indian & Foreign Languages
        </span>
      </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="img" src="assets/img/image-5.png">

    </mat-grid-tile>
    <mat-grid-tile class=" color6 pddRL">
      <label class="font" style="margin-bottom: 30%;padding-left:3%;">
        <img class="accImg" src="assets/img/logo-read-where.png"><br><br>
        <span style="text-align: center;padding-left: 7px;">
          For the wise <br>&nbsp;
          <br><br>
        </span>
       <div  style="color: white;border-top: solid 1px;">       
            1000 pts Discount <br> Subscription
      </div>
      
      </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="img6" src="assets/img/image-6.png">

    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="carsoul">
  <carousel [objectFit]="'cover'" [cellWidth]="'100%'" [height]="550" [borderRadius]="10" [arrows]="true"
    [autoplay]="true" [dots]="true" [loop]="true">

    <div class="carousel-cell color1">
      <div class="fontfamily padd-60">
        <div style="float: left; padding-left: 20px;">
          <img style="width: 62px;" src="assets/img/logo-aoc.png">
        </div><br><br><br>
        <div>
          <img class="w-10" src="assets/img/logo-f-secure.png">
        </div>
        <div style="text-align:left;color:white;"> Astonishing </div>
        <div style="text-align:left;color:white;"> features requires </div>
        <div style="text-align:left;color:white;"> worry-free security</div>
        <div style="color: white;border-top: solid 1px;">
          1 Year Free Mobile Security
        </div>
      </div>
      <img src="/assets/img/image-1.png" class="imgaecss">
    </div>
    <div class="carousel-cell color2">
      <div class="fontfamily padd-60">
        <div>
          <img class="accImg" src="assets/img/logo-digitainment.png"><br><br>
        </div>
        <br>
        <br>
        <div style="text-align:left;color:white;"> Be hooked!</div>
        <div style="color: white;border-top: solid 1px;">
          2000+MoviesfromBollywood
        </div>
      </div>
      <img src="/assets/img/image-2.png" class="imgaecss">
    </div>
    <div class="carousel-cell color3">
      <div class="fontfamily padd-60">
        <div>
          <img class="accImg" src="assets/img/logo-adaptxt.png"><br><br>
        </div>
        <div style="text-align:left;color:white;">
          The best things in <br>
          life are free</div>
        <div style="color: white;border-top: solid 1px;">
          Free Mobile Pouch
        </div>
      </div>
      <img src="/assets/img/image-3.png" class="imgaecss">
    </div>
    <div class="carousel-cell color4">
      <div class="fontfamily padd-60">
        <div>
          <img class="accImg" src="assets/img/logo-hungama.png"><br><br>
        </div>

        <div style="text-align:left;color: white;">
          The thump never ends here</div>
        <div style="color: white;border-top: solid 1px;">
          1000’s of songs
        </div>
      </div>
      <img src="/assets/img/image-4.png" class="imgaecss">
    </div>
    <div class="carousel-cell color5">
      <div class="fontfamily padd-60">
        <div>
          <img class="accImg" src="assets/img/logo-adaptxt.png"><br><br>
        </div>

        <div style="text-align:left;color: white;"> Being globally you</div>
        <div style="color: white;border-top: solid 1px;">
          21 Indian & Foreign Languages
        </div>
      </div>
      <img src="/assets/img/image-5.png" class="imgaecss">
    </div>
    <div class="carousel-cell color6">
      <div class="fontfamily padd-60">
        <div>
          <img class="accImg" src="assets/img/logo-read-where.png"><br><br>
        </div>

        <div style="text-align:left;color: white;"> For the wise</div>
        <div style="color: white;border-top: solid 1px;">
          1000 pts Discount <br> on Subscription
        </div>
      </div>
      <img src="/assets/img/image-6.png" class="imgaecss" style="width: 60%;">
    </div>
  </carousel>
</div>


<router-outlet></router-outlet>